

body{
    background-color: rgba(0, 0, 0, 0.747);/*radial-gradient(circle,#FFDEE9,#B5FFFC);*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    color:white;    
}

h1{
    font-size: 3rem;
    text-align:center;
}

.hidden{
    display:hidden;
}

.flex-container{
    display:flex;
    flex-direction: row;
}
.how-to{
    width:20rem;
    flex-grow:0;
}

.grid-container{
    margin-inline:auto;
    max-width:fit-content;
    max-height:fit-content;
    display:grid;
    gap:0px 0px;
    animation-name: g-item;
    animation-duration:0.5s;
}
.basic-item{
    animation-name: g-item;
    animation-duration:0.5s;
    background-color: rgb(124, 227, 245);
    border: 1px solid rgba(0, 0, 0, 0.8); 
}

.source-item{
    animation-name: g-item;
    animation-duration:0.5s;
    background-color: green;
    border: 1px solid rgba(0, 0, 0, 0.8); 
}

.destination-item{
    animation-name: g-item;
    animation-duration:0.5s;
    background-color:red;
    border: 1px solid rgba(0, 0, 0, 0.8); 
}
.obstacle-item{
    animation-name: g-item;
    animation-duration:0.5s;
    background-color:dimgray;
    border: 1px solid rgba(0, 0, 0, 0.8); 
}
.in-solve-item{
    animation-name: g-item;
    animation-duration:0.5s;
    background-color:rgb(182, 182, 15);
    border: 1px solid rgba(0, 0, 0, 0.8); 
}

/*.grid-container::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }*/

@keyframes g-item{
    from {transform:scale(1.2,1.2);}
    to{transform:scale(1.0,1.0);}
}