body{
    background-image: radial-gradient(circle,#FFDEE9,#B5FFFC);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
}

h1{
    font-size: 3rem;
    text-align:center;
}

.grid-container{
    margin-inline:auto;
    max-width:fit-content;
    max-height:fit-content;
    display:grid;
    gap:0px 0px;
    grid-auto-rows: 50px;
    grid-auto-columns:50px;
}
.grid-item{
    background-color: blue;
    border: 1px solid rgba(0, 0, 0, 0.8); 
}
/*.grid-container::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }*/